<div class="container">
  <button type="button" id="get-quizzes">Get Quiz List!</button>
  <div class="quiz-list"></div>
  <div id="quiz_template" style="display: none;">
    <div class="quiz">
      <a href="Quiz Link">Quiz Name</a>
    </div>
  </div>
</div>
